
/* STYLED FOR IPAD MINI (768PX) */
/* STYLED FOR IPHONE 12 PRO (390PX) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: normal;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(#123abc, purple);

    
}
.body-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 11rem;

}

section {
    padding: 1rem 7%;
}

.btn {
    font-size: 2rem;
    padding: .7rem 4rem;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    margin-top: 1rem;
    cursor: pointer;
    transition: .3s linear;
}

.btn:hover {
    background: rgba(255, 255, 255, .5);
    color: #555;
}

.heading {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
}

header {
    width: 35rem;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    backdrop-filter: blur(.4rem);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

header .user {
    padding-top: 2rem;
}

header .user img {
    margin: 1rem 0;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0  1rem rgba(255, 255, 255, .2);
}

header .user .name {
    font-size: 3rem;
    color: #fff;
    padding: 5rem 0;

}

header .user .post {
    font-size: 1.8rem;
    color: #eee;
    font-weight: lighter;
}

header .navbar {
    padding: 1rem 3rem;
}

header .navbar ul li {
    margin:  1rem 0;
    list-style: none;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    transition: all .5s linear;
}

header .navbar ul li a:hover {
    background: rgba(255, 255, 255, .5);
    color: #555;
    transition: none;
}

.container {
    height: 67.1rem;
    width: 120rem;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 10rem;
}

.home h3 {
    font-size: 2.5rem;
    font-weight: lighter;
    color: #eee;
}

.home .name span {
    font-size: 4rem;
    color: #fff;
}

.home .post {
    padding: 1rem 0;
}

.home .post span {
    font-size: 2rem;
    color: #fff;
}

.home .share {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    transition: .3s linear;
}

.home .share a {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    padding: 1rem .7rem;
    margin: 1rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 1rem;
}

.home .share a:hover {
    background: rgba(255, 255, 255, .5);
    color: #555;
}


.about .content h3 {
    font-size: 2.5rem;
    color: #eee;
}

.about .content h3 span {
    color: #fff;
}

.about .content p {
    font-size: 1.5rem;
    color: #eee;
    padding: 2.5rem 0;
}

.about .skills {
    padding: 1rem 0;
}

.about .skills .progress {
    margin: 1.5rem 0;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .2);
    border-radius: 1rem;
}

.about .skills .progress h3 {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
}

.about .skills .progress .bars {
    position: relative;
    width: 100%;
    height: .3rem;
    margin: 1rem 0;
    background: #555;
}

.about .skills .progress .bars span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
}

.about .skills .progress:nth-child(1) .bars span {
    width: 95%;
}
.about .skills .progress:nth-child(2) .bars span {
    width: 65%;
}
.about .skills .progress:nth-child(3) .bars span {
    width: 55%;
}
.about .skills .progress:nth-child(4) .bars span {
    width: 70%;
}
.home, .service, .about, .education, .contact {
    height: 67rem;

}

.service .box-container {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.service .box-container .box {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .2);
    text-align: center;
    width: 32rem;
}

.service .box-container .box i {
    color: #fff;
    font-size: 4.5rem;
    padding: 1rem 0;
}

.service .box-container .box p {
    color: #eee;
    font-size: 1.3rem;
    padding: 5rem 5rem;
}

.education .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.education .box-container .box {
    width: 50rem;
    padding: 0 2rem;
    padding-bottom: 4rem;
    border-left: .3rem solid #eee;
}

.education .box-container .box .year {
    font-size: 2rem;
    color: #eee;
    position: relative;
}

.education .box-container .box .year::before {
    content: '';
    position: absolute;
    top: .15rem;
    left: -3.1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 1rem;
}

.education .box-container .box p {
    font-size: 1.3rem;
    color: #eee;
    padding-top: 1rem;
}

.contact .row {
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
    align-items: center;
}

.contact .row form {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.contact .row form .box {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 1rem 0;
    height: 4rem;
    width: 49%;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
    color: #eee;
}

.contact .row form .message {
    padding: 1rem;
    height: 15rem;
    resize: none;
    width: 100%;
}

.contact .row form .btn {
    margin-bottom: 1rem;
}

.contact .row .content {
    padding: 0.5rem 9rem;
}

.contact .row .content .icons {
    padding: 1rem 0;
}

.contact .row .content .icons h3 {
    padding: 2rem 0;
    font-size: 2rem;
    color: #fff;
    display: flex;
}

.contact .row .content .icons h3 i {
    padding-right: .5rem;
}

.contact .row .content .icons p {
    font-size: 1.5rem;
    color: #eee;
}

.theme-toggler {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    backdrop-filter: blur(.4rem);
}

.theme-toggler span {
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 2rem 2.5rem;
    box-shadow: 0 0 0 .5rem rgba(255, 255, 255, .2),
                0 1rem 2rem .5rem rgba(0, 0, 0, .4);
}

@media screen and (max-width: 769px) {
    header {
        width: 20rem;
        height: 66rem;
        background: rgba(255, 255, 255, .2);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
        backdrop-filter: blur(.4rem);
        text-align: center;
        padding: 1rem;
        border-radius: 1rem;
    }

    header .user .name {
        font-size: 3rem;
        color: #fff;
        padding: 2rem 0;
    }

    .container {
        width: 35rem;
        height: 66rem;
        margin: 0rem 1.5rem;
    }

    .home h3.mq {
        font-size: 1.3rem;
        font-weight: lighter;
        color: #eee;
    }

    .theme-toggler {
        margin-right: -4rem;
    }

    .about .content h3 {
        font-size: 1.5rem;
    }

    h1.heading {
        font-size: 1.7rem;
        text-align: center;
        padding: .5rem;
        color: #fff;
    }

    .about .content p {
        font-size: 1.3rem;
        padding: 1.5rem 0;
    }

    .service .box-container {
        padding: 1rem 0px;
    }

    .service .box-container .box {
        margin: .3rem;
        padding: .3rem;
        width: 11.42rem;
        height: 19rem;
    }

    .service .box-container .box i {
        font-size: 2.5rem;
        padding: 3rem 0 0 0;
    }

    .service .box-container .box p {
        font-size: 1.1rem;
        padding: 2.5rem 1rem;
    }

    .education .box-container .box .year {
        font-size: 1.5rem;
    }

    .education .box-container .box h3 {
        font-size: 1.5rem;
        padding-top: .5rem;
    }

    .education .box-container .box p {
        font-size: 1rem;
        padding-top: .5rem;
    }

    .education .box-container .box .year::before {
        content: '';
        position: absolute;
        top: 0rem;
        left: -3.1rem;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background: #fff;
    }

    .contact .row {
        display: flex;
        flex-direction: column;
        padding-top: .5rem;
    }

    .contact .row form {
        display: table-column;
        padding: .5rem 1rem;
    }

    .contact .row form .box {
        padding: 0 1.5rem;
        margin: .8rem 0;
        height: 3rem;
        width: 55%;
        font-size: 1.1rem;
    }

    .contact .row .content {
        padding: 5rem 5rem;
    }

    .contact .row .content .icons h3 {
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 390px) {
    .body-wrapper {
        overflow: hidden;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0rem;
    }

    header {
        margin: .5rem 0;
        width: 33rem;
        height: 30rem;
        text-align: center;
        padding: 1rem;
    }

    header .user img {
        margin: .2rem 0;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    header .user .name {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    header .user .post {
        font-size: 1.5rem;
    }

    header .navbar ul {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    header .navbar ul li a {
        padding: .5rem 1rem;
        margin: -0.5rem .5rem ;
    }

    section {
        padding: 1rem 7%;
        min-height: 100%;
    }

    .home, .service, .about, .education, .contact {
        height: 30rem;
    }

    .home .share {
        margin: -1.5rem;
        margin-left: .12rem;
    }

    .container {
        width: 35rem;
        height:40rem;
        margin: 0rem 1.5rem;
    }

    .theme-toggler {
        position: relative;
        right: 2rem;
        display: flex;
    }

    .theme-toggler span {
        border-radius: 50%;
        cursor: pointer;
        margin: 1.5rem 1.1rem;
    }

    h1.heading {
        font-size: 1.3rem;
        padding: .1rem;
    }

    .about .content h3 {
        font-size: 1.1rem;
        margin: .5rem 0;
    }

    .about .content p {
        font-size: 1rem;
        padding: .7rem 0;
    }

    .about .skills .progress {
        margin: .5rem 0;
        padding: .8rem;
    }

    .about .skills .progress h3 {
        font-size: 1rem;
        color: #fff;
    }

    .service {
        margin-left: 1.5rem;
    }

    .service .box-container .box {
        margin: 0.5rem;
        padding: .3rem;
        width: 12.42rem;
        height: 10rem;
    }

    .service .box-container .box i {
        font-size: 1.5rem;
        padding: .5rem 0 0 0;
    }

    .service .box-container .box p {
        font-size: 1rem;
        padding: .5rem .5rem;
    }

    .education .box-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: .5rem 0;
    }

    .education .box-container .box .year {
        font-size: 1rem;
    }

    .education .box-container .box h3 {
        font-size: 1.1rem;
        padding-top: .2rem;
    }

    .education .box-container .box p {
        font-size: .8rem;
        padding-top: .2rem;
    }

    .education .box-container .box {
        width: 50rem;
        padding: 0 2rem;
        padding-bottom: 2.5rem;
        border-left: 0.3rem solid #eee;
    }

    .contact .row {
        display: flex;
        flex-direction: column;
        padding-top: .5rem;
    }

    .contact .row form {
        display: flex;
        padding: .5rem 1rem;
    }

    .contact .row form .box {
        padding: 0 1.5rem;
        margin: .8rem 0;
        height: 2rem;
        width: 45%;
        font-size: 1.1rem;
    }

    .contact .row .content {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }

    .contact .row .content .icons {
        padding: .5rem 0;
    }

    .contact .row .content .icons h3 {
        padding: .5rem .5rem;
        font-size: 1rem;
    }

}
